/*ОБнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none;
  font-weight: 700;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  max-width: 1600px;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

input, button, textarea {
  font-family: Arial, sans-serif;
}

input::-ms-clear {
  display: none
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none
}

ul li {
  list-style-type: none
}

img {
  vert-align: top
}

/*ОБнуление*/
.map_block {
  position: relative;
  max-width: 400px;
  display: flex;
  flex-direction: column;

  .map {
    height: 300px;
    width: 400px;
    position: relative;
    background-color: black;
  }

  .open-popup {
    width: 15px;
    height: 15px;
    background-color: grey;
    position: absolute;
    z-index: 1200;
    top: 10px;
    left: 90%;

    svg{
      width: 14px;
      height: 14px;
    }

    &-active {
      background-color: blue;
    }
  }

  .increase-size {
    width: 15px;
    height: 15px;
    background-color: grey;
    position: absolute;
    z-index: 1400;
    left: 85%;
    top: 10px;
    border-radius: 50%;
  }

  .legend {
    width: 200px;
    display: none;
    background-color: grey;
    position: absolute;
    left: 39.5%;
    z-index: 1400;

    .legend-item {
      display: flex;
      justify-content: left;
      align-items: center !important;
      margin-bottom: 10px;
      column-gap: 10px;

      p {
        color: white !important;
      }
    }
  }

  .choose_map-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .choose_map-button {
      background-color: black;
      border: 1px solid #646060;
      font-size: 10px;
      text-transform: lowercase;
      font-family: monospace;
      font-weight: 0;
      color: white;
    }
  }
}

.increase-map{
  height: 100vh !important;
  width: 100vw !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1500;
}

.increase-btn{
  position: fixed !important;
  top: 10px !important;
  width: 15px !important;
  height: 15px !important;
  z-index: 2000 !important;
}

.increase-legend{
  z-index: 2000 !important;
  left: 34% !important;
  position: fixed !important;
  top: 0;
}

.increase-btn:first-child {
  left: 95%;
}

.increase-btn:last-child{
  left: 90%;
}

/*ACTIVE_MAP_BUTTON*/
.active-btn-map {
  background-color: red !important;
  pointer-events: none !important;
}

.show-legend {
  display: block;
}

/*PRELOADER*/
.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*STYLE_LEAFLET*/
.leaflet-popup-content-wrapper {
  position: absolute;
  background: #2c3e50;
  color: #fff;
  font-size: 10px !important;
  line-height: 10px;
  top: -50px;
  left: -100px;
  height: 30px;
}

.leaflet-popup-content-wrapper a {
  color: black;
}

.leaflet-popup-tip-container {
  width: 20px;
  height: 10px;
}

.leaflet-popup-tip {
  background: transparent;
  border: none;
  box-shadow: none;
}

.leaflet-popup-close-button {
  display: none !important;
}

.leaflet-container {
  background: grey !important;
}

@media (max-width: 779.5px) {
  .map_block{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}