@charset "UTF-8";
/*ОБнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  user-select: none;
  font-weight: 700;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  max-width: 1600px;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

input, button, textarea {
  font-family: Arial, sans-serif;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vert-align: top;
}

/*ОБнуление*/
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: black;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #ADADAD;
}

body {
  background-color: #363232;
}

.list_block {
  position: relative;
}
.list_block #list_of_countries {
  width: 380px;
  height: 362px;
  background: black;
}
.list_block #list_of_countries input {
  height: 25px;
  padding: 0 20px;
  margin: 5px 0 5px 20px;
  width: 250px;
}
.list_block .list-country {
  display: grid;
  grid-template-columns: 50px 80px 80px 120px;
  justify-content: center;
  align-items: center;
  width: 370px;
  font-size: 12px;
  text-transform: lowercase;
  font-family: monospace;
  background-color: black;
  color: white;
  margin-bottom: 15px;
}
.list_block .list-country div.fnp {
  border: 2px solid blue;
  border-radius: 4px;
  padding: 7.5px 0;
  text-align: center;
}
.list_block .country_item {
  cursor: pointer;
}
.list_block .country_item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.list_block .list_global-category {
  display: flex;
  justify-content: space-between;
  width: 140px;
  border: 2px solid blue;
  border-radius: 4px;
  box-sizing: border-box;
  align-items: center;
  padding: 5px 0;
}
.list_block .list_global-category .list_global-item {
  display: flex;
  flex-direction: column;
}
.list_block .list_global-category .list_caret-down {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  border-left: 1px solid white;
  cursor: pointer;
}
.list_block .list_global-category-choose {
  padding: 2px 0;
}
.list_block .list_block-countries {
  max-height: 275px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 380px;
  background-color: black;
  color: white;
}
.list_block .list_block-countries div {
  border: 1px solid red;
  padding: 8px 0;
  width: 96% !important;
  margin-left: auto;
  margin-right: auto;
}

.increase-list-btn {
  top: 10px;
  width: 15px;
  height: 15px;
  background-color: grey;
  position: absolute;
  left: 92.5%;
  border-radius: 50%;
}

.increase-list-btn-active {
  top: 10px;
  width: 15px;
  height: 15px;
  background-color: grey;
  position: absolute;
  left: 92.5%;
}

.increase-list {
  height: 100vh !important;
  width: 100vw !important;
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1500;
  text-align: center;
}
.increase-list input {
  margin-bottom: 20px;
}

.increase-list-item {
  width: 400px !important;
  max-height: 400px !important;
  margin: 0 auto;
}

.list_country-cases {
  display: none;
  position: absolute;
  background-color: black;
  padding-top: 10px;
}

.display-list {
  display: block;
}

.increase-btn {
  position: fixed !important;
  top: 0 !important;
  width: 15px !important;
  height: 15px !important;
}

.increase-btn {
  left: 95%;
}

@media (max-width: 779.5px) {
  .list_block {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

/*# sourceMappingURL=list.css.map */
